.movies-card-list {
  display: block;
  padding-top: 70px;
}
.movies-card-list_hidden {
  display: none;
}
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
  column-gap: 24px;
  row-gap: 37px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}
.movies__button-more {
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 50px;
  width: 320px;
  height: 36px;
  background: #F9F9F9;
  border: none;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}
.movies__button-more:hover {
  cursor: pointer;
  opacity: 0.8;
}
.movies__button-more:focus {
  outline: 0.5px solid #AAAAAA
}
.movies-grid_saved-movies {
  padding-bottom: 167px;
}
.movies-grid__container {
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .movies-grid {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    row-gap: 30px;
  }
}
@media screen and (max-width: 500px) {
  .movies-card-list {
    padding-top: 40px;
  }
  .movies-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 14px;
  }
  .movies__button-more {
    width: 240px;
  }
}