.portfolio {
  padding: 0 70px 125px;
}
.portfolio__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 0 0 50px;
}
.portfolio__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  margin: 20px 0 0;
  text-decoration: none;
}
.portfolio__link {
  margin: 0;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}
.portfolio__container:hover {
  cursor: pointer;
  opacity: 0.7;
}
.portfolio__container:focus {
  outline: 1px solid #AAAAAA;
}
.portfolio__arrow {
  background-image: url(../../images/arrow.svg);
  width: 29px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 90px;
  }
  .portfolio__link {
    font-size: 28px;
  }
  .portfolio__arrow {
    width: 27px;
  }
}
@media screen and (max-width: 500px) {
  .portfolio {
    padding: 0 14px 70px;
  }
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 40px;
  }
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 19px;
  }
  .portfolio__arrow {
    width: 18px;
    height: 28px;
  }
}