.techs {
  background: #F5F5F5;
}
.techs__title {
  margin: 90px auto 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}
.techs__description {
  margin: 26px auto 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
}
.techs__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.techs__unit {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  margin-right: 10px;
}
.techs__unit:last-child {
  margin-right: 0;
}
.rectangle {
  width: 90px;
  height: 60px;
  background: #E8E8E8;
  border-radius: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .techs__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
    gap: 10px;
  }
  .techs__title {
    margin: 80px auto 0;
  }
  .techs__description {
    margin: 22px auto 83px;
    font-size: 12px;
    line-height: 18px;
  }
  .techs__unit {
    font-size: 12px;
    line-height: 15px;
    margin-right: 0;
  }
  .rectangle {
    width: 84px;
    height: 57px;
  }
}
@media screen and (max-width: 500px) {
  .techs {
    background: #FFFFFF;
  }
  .techs__title {
    margin: 60px auto 0;
    font-size: 30px;
    line-height: 36px;
  }
  .techs__description {
    margin: 24px auto 50px;
    font-size: 11px;
    line-height: 16px;
    max-width: 292px;
  }
  .techs__list {
    max-width: 70%;
    margin: 0 auto;
  }
}